{% extends 'base.html.twig' %}

{% block content %}
<h1>
    <u> Controller de la vue name.html.twig : </u> {{className}}  <br> <u> action demandée au controller : </u> {{actionName}} 
</h1>
{% endblock %}